* {box-sizing: border-box}
            body {font-family: Verdana, sans-serif; margin:0}
            .mySlides {display: none}
            img {vertical-align: middle;}

            .slideshow-container {
              width: auto;
              position: relative;
              margin: auto;
            }

            /* Botonoes Next y Previous */
            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
            }

            /* Posición del botón "next" */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }

            /* On hover: añadir background negro con transparencia */
            .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.8);
            }

            /* Los bullets */
            .dot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }

            .active, .dot:hover {
              background-color: #717171;
            }

            /* Animación de transición */
            .fade {
              -webkit-animation-name: fade;
              -webkit-animation-duration: 2.0s;
              animation-name: fade;
              animation-duration: 2.0s;
            }

            @-webkit-keyframes fade {
              from {opacity: .1} 
              to {opacity: 1}
            }

            @keyframes fade {
              from {opacity: .1} 
              to {opacity: 1}
            }

            /* Achicar tamaños en pantallas chicas */
            @media only screen and (max-width: 300px) {
              .prev, .next {font-size: 11px}
            }

